<div class="col-md-6 user-container">
  <h2 class="text-center">Alterar Cliente</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="hidden">
      <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id" readonly="true">
    </div>

    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" formControlName="nome" placeholder="Nome" name="nome" class="form-control" id="nome">
    </div>

    <div class="form-group">
      <label for="sobrenome">Sobrenome:</label>
      <input type="text" formControlName="sobrenome" placeholder="Sobrenome" name="sobrenome" class="form-control"
        id="sobrenome">
    </div>

    <div class="form-group">
      <label for="cpf">Cpf:</label>
      <input type="text" formControlName="cpf" placeholder="Cpf" name="cpf" class="form-control" id="cpf" readonly="true">
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
    </div>

    <button class="btn btn-success">Alterar</button>
  </form>
</div>
